.activated
    height: 100%

mat-toolbar
    margin-bottom: 8px
    font-weight: bolder

mat-card
    max-width: 360px
    min-width: 360px

.toolbar-content 
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center

h4
    margin: 4px

.error
    color: red
    font-weight: bolder
    text-align: center
    background-color: lightsalmon
    margin-bottom: 8px  

.content
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.networks
    display: flex
    justify-content: center
    align-items: center
