.activated
    height: 100%

mat-toolbar
    margin-bottom: 8px
    font-weight: bolder

mat-card
    max-width: 400px
    min-width: 400px

.toolbar-content 
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center

h4
    margin: 4px

.error
    display: flex
    justify-content: center
    align-items: center   
    color: white
    width: 100%
    min-width: 392px
    font-weight: bolder
    text-align: center
    background: linear-gradient(to right, lightsalmon 0%, red 100%) !important
    margin-bottom: 8px

.content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.networks
    display: flex
    justify-content: center
    align-items: center
