<div *ngIf="canFetchData; else notConnected">
    <h1 class="card"><strong>TRENDev's Greeting &Dstrok;App 😘</strong></h1>
    <div class="card mat-elevation-z2">
        <app-network-details></app-network-details>
        <app-last-block-number></app-last-block-number>
        <app-eth-address></app-eth-address>
        <app-balance></app-balance>
    </div>
    <div class="card mat-elevation-z2">
        <app-greeting></app-greeting>
    </div>
</div>
<ng-template #notConnected>
    <h1 style="color: red; text-align: center; background-color: lightsalmon;">Metamask Authentication REQUIRED</h1>
    <app-supported-network></app-supported-network>
    <h3>Other networks are not supported yet...</h3>
</ng-template>
<h4>All <a href="https://github.com/trendev/greeting">Github sources</a></h4>