<div *ngIf="isConnected; else notConnected">
    <div>
        <h1>Greeting D-App</h1>
        <h3>Network : </h3>
        <code>{{network | json}}</code>
        <h3>Block Number : </h3>
        <code>{{blockNumber | async}}</code>
        <h3>Your Address : </h3>
        <code>{{address | async}}</code>
        <h3>Your Balance : </h3>
        <code>{{balance}}</code>
    </div>
    <div class="info">
        <app-greeting></app-greeting>
    </div>

</div>
<ng-template #notConnected>
    <h1 style="color: red; text-align: center; background-color: lightsalmon;">Metamask Authentication REQUIRED</h1>
    <app-supported-network></app-supported-network>
    <h3>Other networks are not supported yet...</h3>
</ng-template>