@use '@angular/material'as mat;
@use './app/greeting/greeting-theme.scss'as message;

@include mat.core();
@include mat.typography-hierarchy(mat.define-typography-config());

$frontend-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

$frontend-warn: mat.define-palette(mat.$red-palette);

$frontend-light-theme: mat.define-light-theme((color: (primary: mat.define-palette(mat.$indigo-palette, 600, 300, 900),
      accent: $frontend-accent,
      warn: $frontend-warn,
    )));

$frontend-dark-theme: mat.define-dark-theme((color: (primary: mat.define-palette(mat.$cyan-palette, 700, 300, 900),
      accent: $frontend-accent,
      warn: $frontend-warn,
    )));

@include mat.all-component-themes($frontend-light-theme);
@include message.theme($frontend-light-theme);

.dark-theme {
  @include mat.all-component-colors($frontend-dark-theme);
  @include message.theme($frontend-dark-theme);
  background-image: url(./assets/dark-background.png);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}